/* Data type Geometry */

.o-icon-geometry:before {
    content: "\f5ee";
    content: "\f3c5";
}
.o-icon-geography:before {
    content: "\f3c5";
}

.resource-form .resource-values .inputs .values [data-data-type="geography:coordinates"] .input-body label {
    display: inline-block;
    width: 50%;
    padding-left: 6px;
    padding-right: 6px;
    text-align: right;
}
.resource-form .resource-values .inputs .values [data-data-type="geography:coordinates"] .input-body .geography-coordinates {
    width: 50%;
}
@media screen and (max-width:640px) {
    .resource-form .resource-values .inputs .values [data-data-type="geography:coordinates"] .input-body label {
        text-align: initial;
    }
}

.batch-edit .field-container > legend {
    font-size: 16px;
}
